.App {
  display: flex;
  flex-direction: column;
  // flex: 1 0 auto;
  min-height: 100vh;
  position: relative;
  background-color: #fff;

  .links-wrapper {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin: 8px;
  }

  .new-user-btn {
    width: auto;
    height: 34px;
    padding: 0 10px;
    min-width: 34px;
    border-radius: 17px;

    color: #fff;
    background-color: #212121;
  }
}
