.container {
  background-color: #fff !important;
  height: 100%;
  width: 100%;
}

.customControlValidation1 {
  color: red !important;
  background-color: red !important;
}

.display-temp-img {

  img {
    width: 160px;
    height: 120px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
  }
}